In [1]:
import pandas as pd

df = pd.read_pickle('sokureplays.pkl')
characters = ['aya', 'youmu', 'iku', 'reimu', 'reisen', 'remilia', 'marisa',
       'suika', 'tenshi', 'yuyuko', 'komachi', 'suwako', 'sakuya',
       'utsuho', 'meiling', 'yukari', 'patchouli', 'alice', 'cirno',
       'sanae']

In [ ]:
df_no_mirror_matches = df.query("server_character != client_character")
df_mirror_matches = df.query("server_character == client_character")
df_mirror_matches['server_character'].value_counts()

In [11]:
#unique countries
list_countries = list(pd.concat([df['server_country'], df['client_country']]).unique())
len(list_countries)

129

In [103]:
country_wr = pd.DataFrame(columns=['Country', 'Total Wins', 'Total Games', 'WR'])
for country in list_countries:
    wins = df.query(f"((server_country == '{country}' & server_rounds == 2) | (client_country == '{country}' & client_rounds == 2)) & (server_country != client_country)")
    wins = wins.count()
    wins = int(wins['id'])
    games = df.query(f"((server_country == '{country}') | (client_country == '{country}')) & (server_country != client_country)")
    games = games.count()
    games = int(games['id'])
    print(f"country {country} has {wins} wins over {games} games")
    country_wr = country_wr._append({'Country': country, 'Total Wins': wins, 'Total Games': games, 'WR': wins/games * 100}, ignore_index=True)

country it has 4033 wins over 8679 games

C:\Users\RE\AppData\Local\Temp\ipykernel_22328\3959025669.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  country_wr = country_wr._append({'Country': country, 'Total Wins': wins, 'Total Games': games, 'WR': wins/games * 100}, ignore_index=True)

country cl has 48353 wins over 79846 games
country  has 238809 wins over 552833 games
country us has 249306 wins over 496917 games
country ru has 93583 wins over 181393 games
country ua has 33452 wins over 63220 games
country pt has 8276 wins over 18896 games
country my has 9185 wins over 14909 games
country fi has 5588 wins over 11523 games
country fr has 80145 wins over 154414 games
country ca has 50942 wins over 96783 games
country de has 39938 wins over 78032 games
country rs has 5489 wins over 10681 games
country sg has 15167 wins over 27065 games
country mx has 41281 wins over 83107 games
country nl has 26393 wins over 39391 games
country ar has 70183 wins over 128452 games
country lv has 3088 wins over 6250 games
country ma has 14749 wins over 22602 games
country jp has 40827 wins over 55895 games
country se has 9707 wins over 15077 games
country gb has 27258 wins over 52774 games
country pl has 22807 wins over 44663 games
country kr has 14890 wins over 24302 games
country cr has 6393 wins over 12791 games
country br has 59804 wins over 120527 games
country es has 8631 wins over 17085 games
country co has 20604 wins over 37004 games
country tw has 20267 wins over 30475 games
country uy has 2787 wins over 5498 games
country at has 302 wins over 829 games
country ph has 18025 wins over 44542 games
country nz has 3331 wins over 5113 games
country th has 1078 wins over 2816 games
country kz has 515 wins over 2403 games
country hk has 6833 wins over 10620 games
country ie has 1272 wins over 2652 games
country ve has 14104 wins over 29722 games
country vn has 18405 wins over 38359 games
country il has 1979 wins over 4212 games
country id has 5675 wins over 13455 games
country au has 6594 wins over 15243 games
country ro has 2089 wins over 4284 games
country by has 2546 wins over 6945 games
country cn has 29457 wins over 57274 games
country cy has 3617 wins over 6639 games
country cz has 1204 wins over 2434 games
country do has 1048 wins over 5991 games
country tr has 8203 wins over 23601 games
country ae has 473 wins over 2007 games
country ec has 3021 wins over 10146 games
country hr has 269 wins over 752 games
country ee has 32 wins over 132 games
country gr has 446 wins over 1090 games
country mq has 1010 wins over 1980 games
country bn has 1 wins over 8 games
country pe has 12634 wins over 30390 games
country bo has 608 wins over 1666 games
country ge has 270 wins over 605 games
country py has 208 wins over 444 games
country ch has 1247 wins over 4055 games
country az has 758 wins over 1257 games
country lt has 1258 wins over 7229 games
country bg has 1971 wins over 2620 games
country md has 410 wins over 656 games
country jm has 260 wins over 942 games
country no has 394 wins over 1083 games
country in has 648 wins over 1293 games
country nc has 5 wins over 61 games
country ba has 19 wins over 137 games
country sk has 1847 wins over 5910 games
country gu has 261 wins over 727 games
country eg has 2834 wins over 7853 games
country mm has 13 wins over 48 games
country kw has 142 wins over 351 games
country dz has 1882 wins over 3658 games
country mk has 96 wins over 187 games
country ni has 52 wins over 138 games
country uz has 124 wins over 289 games
country ng has 3 wins over 23 games
country sy has 332 wins over 815 games
country sa has 376 wins over 1262 games
country tt has 66 wins over 397 games
country sv has 263 wins over 936 games
country hu has 4586 wins over 10463 games
country za has 90 wins over 209 games
country be has 706 wins over 1500 games
country mg has 2499 wins over 5277 games
country dk has 120 wins over 363 games
country jo has 107 wins over 509 games
country sr has 2 wins over 107 games
country ps has 27 wins over 179 games
country mv has 297 wins over 864 games
country me has 53 wins over 172 games
country bb has 5 wins over 14 games
country pa has 381 wins over 2278 games
country gl has 0 wins over 3 games
country gh has 193 wins over 507 games
country mn has 0 wins over 43 games
country tn has 115 wins over 376 games
country pr has 58 wins over 334 games
country gt has 231 wins over 978 games
country bs has 40 wins over 195 games
country im has 18 wins over 99 games
country mo has 862 wins over 1561 games
country mu has 148 wins over 207 games
country al has 19 wins over 34 games
country iq has 59 wins over 199 games
country lk has 0 wins over 2 games
country gf has 27 wins over 36 games
country bd has 0 wins over 15 games
country tc has 0 wins over 11 games
country si has 3 wins over 9 games
country ly has 40 wins over 96 games
country zw has 0 wins over 2 games
country np has 9 wins over 147 games
country ir has 133 wins over 275 games
country pk has 0 wins over 10 games
country hn has 20 wins over 52 games
country kg has 0 wins over 1 games
country re has 1 wins over 20 games
country lb has 3 wins over 31 games
country is has 0 wins over 2 games
country kh has 1 wins over 14 games
country lc has 0 wins over 1 games
country sd has 0 wins over 8 games
country cd has 6 wins over 18 games
country cu has 5 wins over 20 games
country om has 2 wins over 16 games

In [98]:
country_wr.query("Country == 'USA'")

Empty DataFrame
Columns: [Country, Total Wins, Total Games, WR]
Index: []

In [104]:
import pycountry_convert

In [105]:
def country_convert(country):
    country = country.upper()
    if country == '':
        return 'Unknown'
    return pycountry_convert.country_alpha2_to_country_name(country, cn_name_format="default")

In [106]:
country_wr['Country'] = country_wr['Country'].apply(country_convert)

In [122]:
asd = country_wr[country_wr['Total Games'] > 50].sort_values(by='WR', ascending=False)
asd.query("Country == 'Singapore' | Country == 'Malaysia'| Country == 'Philippines' | Country == 'Indonesia' | Country == 'Viet Nam' | Country == 'Thailand'")

        Country Total Wins Total Games         WR
7      Malaysia       9185       14909  61.607083
13    Singapore      15167       27065  56.039165
38     Viet Nam      18405       38359  47.980917
40    Indonesia       5675       13455  42.177629
31  Philippines      18025       44542  40.467424
33     Thailand       1078        2816  38.281250