In [43]:
import pandas as pd

df = pd.read_pickle('preprocessed.pkl')

In [44]:
df = df.query("country != 'CHN'")

In [48]:
df = df.query("year != 2019")
df = df.query("year != 2024")

In [49]:
monthly_counts = df.groupby(['year']).size().reset_index(name='count')

In [50]:
monthly_counts

   year    count
0  2020   437980
1  2021   931485
2  2022  1245565
3  2023  1147765

In [52]:
df2 = monthly_counts.assign(discord_messages=[2570712,1977338, 2510428, 2270252])

In [53]:
df2

   year    count  discord_messages
0  2020   437980           2570712
1  2021   931485           1977338
2  2022  1245565           2510428
3  2023  1147765           2270252

In [55]:
df2['count'].corr(df2['discord_messages'])

-0.2578578715135095